html {
    text-align: center;
    margin: 0 auto;
}


.container {
    margin: 0 auto;
    width: 1000px;
    height: 1000px;
}


.gameboard {
    display: grid;
    grid-template-rows: 200px 200px 200px 200px 200px;
    grid-template-columns: 200px 200px 200px 200px 200px;
    background-color: white;
    border-style: solid;
    height: 100%;
}

.box {
    background-color: black;
}


